body {
  background-color: black;
}

/* control center */
#controls {
  position: absolute;
  top: 701px;
  padding-left: 20%;
  width: 1097px;
  height: 261px;
}

#camera {
  position: absolute;
  left: 18%;
  top: 10%;
  width: 1098px;
  height: 593px;
	background-color: black;
}
#videoElement {
  width: 1098px;
  height: 593px;
	background-color: gray;
}

