<!DOCTYPE HTML>
<html>

<head>
  <meta charset="utf-8" />
  <title>Remote Robot</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {% load static %}
  <link rel="stylesheet" href="{% static 'src/app.css' %}" />
  {% load static %}
  <script src="{% static 'src/app.js' %}"></script>
</head>

<body>
  <div id="controls">
    {% load static %}
    <img src="{% static 'src/controls.png' %}" alt="Control Center">
  </div>
  <!-- <div id="camera">
    <video autoplay="true" id="videoElement"></video>
  </div>
  <script type="text/javascript" src="{% static 'src/cam.js' %}"></script> -->
  <!-- <div id="camera">
    <iframe id="videoElement" src="http://192.168.254.89:8081" title="Pi Video Cam"></iframe>
  </div> -->
</body>


</html>